body {
    min-height: 4096px;
    margin: 0;
    padding: 0;
    position: relative;
}

#footer {
    min-height: 100px;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3498db; 
    transition: background-color 0.3s ease;
}